html{
    overflow-x: hidden;
}

.masthead{
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5) 70%, rgba(48,178,255,0.3) ), url('media/masthead.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
h1{
    position: relative;
    top: 60px;
    left: 40px;
    color: white;
    font-size: 80px;
    letter-spacing: 3px;
    
}
h2{
    color: white;
    position: relative;
    top: 60px;
    left: 40px;
}
#arrow{
    position: absolute;
    top: 85vh;
    color: white;
}
@media screen and (max-width: 1000px) {
    h1{
        position: relative;
        top: 20px;
        left: 0px;
        color: white;
        font-size: 35px;
        letter-spacing: 2px;
        
    }
    h2{
        color: white;
        position: relative;
        top: 20px;
        left: 0px;
        font-size: 15px;
    }
    #arrow{
        position: absolute;
        top: 85vh;
        left: 45%;
        color: white;
    }
}






.name{
    border: 2px solid #cac8c1;
    border-right: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 16px;
}
.score{
    font-size: 18px;
    font-weight: 700;
}






.WinnerSection{
    height: 100vh;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    position: relative;
}
.overlay{
    height: 100%;
    width:100%;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0px;
    left: 0px;
}
.SearchInput{
    background-color: transparent;
    color: white;
    border-radius: 5px;
    border: 2px solid white;
    width: 13%;
    margin-left: 10px;
}
.modal-backdrop{
    display:  none !important;
}
.modal{
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(3px);
}