
    <div class="container-fluid masthead">
        <div class="row">
            <div class="col-12 col-xl-4 m-lg-5 pt-5">
                <h1>Football Rank</h1>
                <div class="col-xl-12 col-8">
                    <h2>La classifica dei Club di calcio con più sostenibilità economica e societarià, per poter crescere nel
                        futuro</h2>
                </div>
               
                    
            </div>
            <div class="col-12 text-center">
                <i id="arrow" class="fas fa-chevron-down fa-3x"></i>
            </div>
        </div>
    </div>
