
<div class="container-fluid"style="background: linear-gradient(rgba(241,87,220, 1), rgba(48,178,255, 1)); height:auto; min-height: 100vh; background-position: center; background-repeat: no-repeat; background-size: cover; background-attachment: fixed; color: white; position: relative;">
 <div style="  position: absolute;
 top: 50%;
 left:50%;
 transform: translate(-50%, -50%); text-align: center;
 width: 80%;">
   
  <div class="row">
    <div class="col-12">
      <h3 class="h2 my-5 text-center">Metodologia</h3>
      <p class="lead">La Classifica comprende i maggiori <strong>Club</strong> professionistici della Federazione Italiana Giuoco Calcio e cerca di rappresentare <strong>oggettivamente</strong> la sostenibilità economica delle Squadre nel presente e soprattuto nel futuro. <br> Il ranking viene calcolato tenendo conto di molti <strong>fattori</strong>, i principali sono: </p>
    </div>
    <div class="row justify-content-around text-center mt-4 icon">
      <div class="col-4">
        <i class="fas fa-funnel-dollar fa-3x"></i>
        <p><strong>Passività attuali</strong></p>
      </div>
      <div class="col-4">
        <i class="fas fa-chart-pie fa-3x"></i>
        <p><strong class="mt-5">Spese ricorrenti <span class="d-none d-lg-inline-block">e entrate previste</span></strong></p>
      </div>
      <div class="col-4">
        <i class="fas fa-chart-bar fa-3x"></i>
        <p><strong class="mt-5">Sostenibilità del Brand</strong></p>
      </div>
    </div>
    <div class="col-12 mt-4">
      <p class="lead">Dopo aver recuperato i dati necessari, tramite un algoritmo viene eseguita una formula che ci restituisce, quello che noi chiamiamo <strong>FRI Football Rank Index</strong>, un numero compreso da 1 a 100 che ci da la percezione della sostenibilità del Team</p>
    </div>
  </div>

 </div>
  </div>
