
    <div class="container my-4">
        <div class="row">
            <div class="col-12">
              <h3 class="h2 my-4 text-center">Ranking  <a data-bs-toggle="modal" data-bs-target="#exampleModal"  class="float-end h6 lead icon" style="color: rgba(0,0,0,0.4); text-decoration: none; cursor: pointer; "><i class="fas fa-info-circle"></i> info</a></h3>
                
                <table>
                    <thead>
                      <tr>
                        
                        <th style="box-shadow: none;" scope="col">#</th>
                        <th scope="col">Club</th>
                        <th scope="col" class="positionLegend">Score</th>
                        <th scope="col" class="positionLegend">Trend</th>
                      </tr>
                    </thead>
                    <tbody id="table">
                      
                        <!--table su js-->
                    </tbody>
                  </table>
                  
    
            </div>
        </div>
    </div>
